player-connection-mode=Listen
player-connection-guid=3013775277
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=192.168.45.83
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e6b462c5012347d08950d23baf3b290e
